* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

#nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;

}

#heading {
    margin-top: 90px;
}

#heading h1 {
    opacity: 0.6;
    margin-left: 30px;
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading #secondh1 {
    margin-left: 230px
}

.blocktext {
    width: fit-content;

}

.blocktext h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

#chhotiheadings {
    margin-top: 100px;
    padding-right: 30px;

}

#chhotiheadings h5 {
    text-transform: uppercase;
    text-align: right;
    margin-top: 0.5vw;
    font-size: 1vw;
}
#herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    
}
#herofooter a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

}
#herofooter #iconset {
    display:  flex;
    gap: 5px;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
}