* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

#nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;

}

#heading {
    margin-top: 90px;
}

#heading h1 {
    opacity: 0.6;
    margin-left: 30px;
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading #secondh1 {
    margin-left: 230px
}

.blocktext {
    width: fit-content;

}

.blocktext h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

#chhotiheadings {
    margin-top: 100px;
    padding-right: 30px;

}

#chhotiheadings h5 {
    text-transform: uppercase;
    text-align: right;
    margin-top: 0.5vw;
    font-size: 1vw;
}

#herofooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;

}

#herofooter a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

}

#herofooter #iconset {
    display: flex;
    gap: 5px;
}

#herofooter .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
}

#second {
    width: 100%;
    
    color: #fff;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;

}

.elem {
    width: 100%;
    padding: 4vw 3vw;
    padding-right:0;
    border-top: 1px solid #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: 0.75;
}

.elmlast {
    border-bottom: 1px solid #888;
}
.elem img{
    height: 95%;
    display: none;
    z-index: 3;
    position: absolute;
}

#about{
    width: 100%;
    background-color: black;
    padding: 10vw 5vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50vw;
    
}
#about img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#textabout{
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
}

#textabout h3{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.7;
    text-align: justify;
}
#about img{
    width: 200px;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
   
}
#subs{
    background-color: black;
    color: #fff;
    padding: 20px 30px;

}
#subs h5{
    text-transform: uppercase;
    opacity: 0.6;

}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: black;
    color: #fff;
}
#footer-left{
     display: flex;
     gap: 20px;
}
#footer a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
#footer-right{
    display: flex;
    gap: 50px;
}
